@page "/"
@using ShopOnline.Models.Dtos;
@inherits ProductsBase

{
}
else
{
    <h3 class="mb-5">Products</h3>

    var productCount = Products.Count();

    @if (productCount > 0)
    {
        {

            </div>
            <hr class="mb-3"/>
        }

    }

}